{% extends "layout.html" %}
{% load static from staticfiles %}

{% load bootstrap3 %}



{% block content %}
    <h1>{{chargingspot.name}}</h1>
    <hr>
    <div class="animated fadeIn" id="map" style="height:250px"></div>
    <div class="demo-default" id="mean"></div>
    <hr>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label"> Description</label>
                <textarea class="form-control" readonly>
                    {{ chargingspot.description }}
                </textarea>
            </div>
        </div>
    </div>
 <div class="row">
            <div class="col-md-12">
                <div class=""><br />
                    <div class="comments-container">
                        <ul id="comments-list" class="comments-list">
    {% for comment in  listComments  %}

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar" >
                                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="profilePicture">
                                    </div>

                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div id="notificationsSound"></div>
                                        <div class="comment-head">
                                            <h6 class="comment-name "> <!-- by-author   //can be addes if a want to show the author -->
                                                <span>{{ comment.user.username }} &nbsp;</span> {{ comment.creationDate }}

                                            </h6>
                                        </div>
                                        <div class="comment-content">
                                            {{ comment.comment }}
                                        </div>
                                        <div id="userRate" data-value="{{ comment.rate }}" ></div>
                                    </div>
                                </div>
                            </li>
    {% endfor %}
     </ul>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <textarea placeholder="Test your message..." name="commentTxt" id="id_comment"></textarea>
                        <ul>
                            <li>
                                <div class="demo-default" id="rate"></div>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-wd btn-success"><i class="fa fa-share"></i> Submit</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>
    </div>
    {%  endif %}



{% endblock %}

{% block js %}
    <script src="{% static 'scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="{% static 'scripts/gmaps.js' %}"></script>
    <script src="{% static 'scripts/jQuery.score.js' %}"></script>
    <script src="{% static 'scripts/sweetalert.min.js' %}"></script>
    <script>
            $('document').ready(function () {
                var meanRate ='{{ meanRate }}';
                meanRate = Math.round(meanRate);
                // Rating!
                $('#mean').score({
                    fontAwesome : true,
                    readOnly    : true,
                    color: '#446CB3',
                    score: meanRate

                });

                $('div[id="userRate"]').each(function(index, elem) {
                    var valor = $(elem).data('value');
                    console.log(valor);
                    $(elem).score({
                        fontAwesome : true,
                        readOnly    : true,
                        color : '#F7CA18',
                        score: valor
                    });
                });
            });
            // Use for the Map!
            $(function () {

                var map;
                var lat = {{chargingspot.latitude}}
                var lng = {{ chargingspot.longitude }}

                map = new GMaps({
                    div: '#map',
                    lat: lat,
                    lng: lng,
                    zoom: 16,
                });

                map.addMarker({
                    lat: {{chargingspot.latitude}},
                    lng: {{ chargingspot.longitude }},
                    //click: function(e) {
                    //    alert('You clicked in this marker');
                    //}
                });

            });

            $('#rate').score({
                fontAwesome: true,
                color : '#F7CA18',
            });

            $('#rate').click(function () {
               $('#id_rate').val($(this).score('score'));
            });

            $('form').submit(function (e) {
                var msjError=[]

               if ($('#id_rate').val() == undefined || $('#id_rate').val() == '' || $('#id_rate').val() == null ) {
                   msjError.push('Please rate the station')

               }
               if($('#id_comment').val() == undefined || $('#id_comment').val() == '' || $('#id_comment').val() == null ) {
                    msjError.push('Please enter your comment')
               }
               if (msjError.length > 0) {
                   e.preventDefault();
                   var text = '<ul>'
                   for (i=0; i < msjError.length; i++){
                       text += '<li>' + msjError[i] + '</li>';
                   }
                   text += '</ul>';
                   swal({
                       title: 'Error!',
                       type: 'error',
                       text: text,
                       html: true
                   })
               }
            });




    </script>
{% endblock %}