{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="card">
                            <div class="header">
                                <h4 class="title">Stay connected!</h4>
                                <p class="category">24 Hours charged</p>
                            </div>
                            <div class="content">
                                <div class="jumbotron">
  <h1>Enter to charge</h1>
                                    <div class="center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img style="height: 500px; width: 886px" src="http://images.hgmsites.net/lrg/ge-wattstation-electric-car-charging-station_100356552_l.jpg   "><hr/>
                                            </div>
                                        </div>

  <a class="btn btn-primary btn-lg" href="/accounts/login" role="button"><i class="fa fa-user"></i> Log in</a>
    <a class="btn btn-success btn-lg" href="/accounts/signup" role="button"><i class="fa fa-user-circle"></i> Sign Up</a>
                                        </div>


</div>
                            </div>
                        </div>
{% endblock %}