//Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

//App Colors
$color-primary:     #1F497D;
$color-secondary:   #01B0F0;

//Custom Colors
$color-white:       #ffffff;
$color-teal:        #1BBD8F;
$color-brown:       #65463b;
$color-pink:        #c51954;
$color-purple:      #89219b;
$color-deepOrange:  #d4481c;
$color-blueGray:    #516a76;
$color-black:       #0d0d0d;

//Bootstrap Colors
$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

//Font-Weight
$light: 100;
$regular: 400;
$bold: 600;

//Backgrounds
$bg-primary: rgba(239, 238, 238, 0.40);
$bg-primary__footer: rgb(235, 235, 235);

//Sizes
$header-size: 60px;