@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
/*
.btn-white {
    @include button-variant($color-white, $color-white, getDarkerColor($color-white, 7%));
}

.btn-teal {
    @include button-variant($color-white, $color-teal, getDarkerColor($color-teal, 7%));
}

.btn-brown {
    @include button-variant($color-white, $color-brown, getDarkerColor($color-brown, 7%));
}

.btn-pink {
    @include button-variant($color-white, $color-pink, getDarkerColor($color-pink, 7%));
}
*/
.text-sm {
  font-size: 12px; }

.cursor--pointer, .item-button {
  cursor: pointer; }

.shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
.shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
.shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
.shadow--8dp, .item-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
.shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
.shadow--24dp {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

.text-sm {
  font-size: 12px; }

.cursor--pointer, .item-button {
  cursor: pointer; }

.item-card {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out; }
  .item-card:hover {
    -moz-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    transition: box-shadow 0.25s ease-in-out; }
  .item-card__title {
    -moz-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    color: #000;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    -moz-perspective-origin: 165px 56px;
    -o-perspective-origin: 165px 56px;
    -webkit-perspective-origin: 165px 56px;
    perspective-origin: 165px 56px;
    -moz-transform-origin: 165px 56px;
    -o-transform-origin: 165px 56px;
    -webkit-transform-origin: 165px 56px;
    transform-origin: 165px 56px;
    box-sizing: border-box; }
  .item-card__menu {
    position: absolute;
    right: 16px;
    top: 16px; }
  .item-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    margin: 0;
    -moz-transform-origin: 149px 48px;
    -o-transform-origin: 149px 48px;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    text-shadow: 0px 1px 3px #1f1f1f; }
  .item-card__supporting-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px; }
  .item-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box; }
    .item-card__actions.item-card--border {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .item-card__actions__date {
      margin-top: 9px; }

.item-button {
  color: #0d0d0d;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 36px;
  min-width: 64px;
  padding: 0 8px;
  display: inline-block;
  letter-spacing: 0;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  line-height: 36px;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }
  .item-button--colored {
    color: #1F497D; }
  .item-button:hover {
    background-color: rgba(183, 183, 183, 0.2);
    text-decoration: none;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

.card-wide.item-card {
  margin-bottom: 25px; }
.card-wide > .item-card__title {
  color: #fff;
  height: 176px; }

.shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
.shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
.shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
.shadow--8dp, .item-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
.shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
.shadow--24dp {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

.modal-header {
  background: rgba(224, 224, 224, 0.58);
  border-radius: 6px 6px 0 0;
  padding: 11px;
  border-bottom: 1px solid #d8d8d8; }
  .modal-header .close {
    margin-top: 1px; }
  .modal-header:before {
    font-family: "FontAwesome";
    content: "";
    font-size: 27px;
    position: absolute;
    margin: -6px;
    opacity: 0.3;
    filter: alpha(opacity=30); }

.modal-title {
  margin: 2px 0px 0px 34px;
  font-size: 15px; }

body {
  font-family: "Open Sans", sans-serif; }

/*# sourceMappingURL=main.css.map */
