{% extends "layout.html" %}

{% load static from staticfiles %}


{% block content %}
    <h1>{{ chargingspot.name }}</h1>
    <a href="{% url 'createAppointment' %}" type="button" class="btn btn-info"><i class="fa fa-calendar-plus-o"></i> Set an appointment</a>
    <hr/>
    <div id='calendar'></div>

{% endblock %}

{% block js %}
    <script src="{% static 'scripts/moment.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'scripts/fullcalendar.js' %}"></script>

    <script>

    $(document).ready(function() {
         var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var dia = d.toString();
          $.ajax({
                      type: "POST",
                      url: "{% url 'lista' %}",
                      data: {id: "{{ chargingspot.pk }}", csrfmiddlewaretoken: '{{ csrf_token }}', d: dia},
                      success: function(response) {

                                    var evento = {events: []};
                                    var obj = jQuery.parseJSON(response);
                                    var colors= ['#00BCD4', '#009688', '#03A9F4', '#673AB7', '#3F51B5', '#2196F3', '#CDDC39', '#CDDC39', '#9C27B0', '#F44336']
                                    for(i=0; i<obj.length; i++){
                                        var fecha = obj[i].fields.reservationDate;
                                        //var fecha = obj[i].fields.reservationDate.substring(0, obj[i].fields.reservationDate.length - 1);
                                        var e= {title: 'Reservation '+ (i + 1).toString(),
                                            start: fecha,
                                            color: colors[Math.floor(Math.random() * colors.length) + 1]};
                                        evento.events.push(e);
                                    }
                                    $('#calendar').fullCalendar('addEventSource', evento);
                      },
                 });


    var lastView;
    var daySource = new Object();
    daySource.title = 'Tuesday'; // this should be string
    daySource.start = new Date(y, m, d); // this should be date object
    daySource.end = new Date(y, m, d);

    var day = new Array();
    day[0] = daySource;

    var monthSource = new Object();
    monthSource.title = 'December'; // this should be string
    monthSource.start = new Date(y, m, d); // this should be date object
    monthSource.end = new Date(y, m, d);

    var month = new Array();
    month[0] = monthSource;

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
       /** columnFormat: {
            month: 'ddd',
            week: 'ddd d/M',
            day: 'dddd d/M'
        },**/
        displayEventTime: false,
        defaultView: 'agendaDay',
        viewDisplay: function (view) {
            if (lastView == 'undefined') {
                lastView = 'firstRun';
            }
            if (view.name !== lastView) {
                if (view.name == 'agendaWeek') {
                    $('#calendar').fullCalendar('addEventSource', month);
                    $('#calendar').fullCalendar('removeEventSource', day);
                    $('#calendar').fullCalendar('removeEventSource', day);
                    $('#calendar').fullCalendar('renderEvents');
                }
                if (view.name == 'agendaDay') {
                    $('#calendar').fullCalendar('addEventSource', day);
                    $('#calendar').fullCalendar('removeEventSource', month);
                    $('#calendar').fullCalendar('removeEventSource', month);
                    $('#calendar').fullCalendar('renderEvents');
                }
                if (view.name == 'month') {
                    $('#calendar').fullCalendar('addEventSource', month);
                    $('#calendar').fullCalendar('removeEventSource', day);
                    $('#calendar').fullCalendar('removeEventSource', day);
                    $('#calendar').fullCalendar('renderEvents');
                }
                lastView = view.name;
            }
        },
        timeFormat: { // for event elements
            agendaDay: '',
            agendaWeek: '',
            month: '',
                '': 'h(:mm)t' // default
        }
    });

    //$('#calendar').fullCalendar('addEventSource', month);
    $('#calendar').fullCalendar('rerenderEvents');
    });


    </script>
{% endblock %}
