{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
    <h1>{% if not form.instance.pk %} Create Appointment{% else %}Edit {{ form.instance.name}}{% endif %}</h1>
    <form action="" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {% bootstrap_form form %}
                    </div>
                </div>
               {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-success"><i class="pe-7s-plus"></i> Add</button>
        </div>
    </form>

{% endblock %}